<div class="jkl-header-bg text-center d-flex justify-content-center align-items-center">
    <h1> {{ page.title }} </h1>
</div>parokshax@PX-HK-N1:krei-website$
parokshax@PX-HK-N1:krei-website$ cat _includes/home_slider.html
<div class="jkl-slider">
    <div class="jkl-slider-container d-flex align-items-center" >
        <div class="jkl-slider-content  flex-grow-1 container">
            <div class="row">
                <div class="col-xl-12">
                    <div>
                        <h1 data-animation="fadeInDown" data-delay=".2s" class="" style="animation-delay: 0.2s;">Lorem ipsum <span>dolor</span> sit <br>amet consectetur</h1>
                        <p data-animation="fadeInLeft" data-delay=".4s" class="" style="animation-delay: 0.4s;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat <br />fringilla eros ac porta. Pellentesque.</p>
                        <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s" tabindex="-1" style="animation-delay: 0.6s;">know more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jkl-slider-container d-flex align-items-center" >
        <div class="jkl-slider-content  flex-grow-1 container">
            <div class="row">
                <div class="col-xl-12">
                    <div>
                        <h1 data-animation="fadeInDown" data-delay=".2s" class="" style="animation-delay: 0.2s;">Lorem ipsum <span>dolor</span> sit <br>amet consectetur</h1>
                        <p data-animation="fadeInLeft" data-delay=".4s" class="" style="animation-delay: 0.4s;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat <br />fringilla eros ac porta. Pellentesque.</p>
                        <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s" tabindex="-1" style="animation-delay: 0.6s;">know more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="jkl-slider-container d-flex align-items-center" >
        <div class="jkl-slider-content  flex-grow-1 container">
            <div class="row">
                <div class="col-xl-12">
                    <div>
                        <h1 data-animation="fadeInDown" data-delay=".2s" class="" style="animation-delay: 0.2s;">Lorem ipsum <span>dolor</span> sit <br>amet consectetur</h1>
                        <p data-animation="fadeInLeft" data-delay=".4s" class="" style="animation-delay: 0.4s;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat <br />fringilla eros ac porta. Pellentesque.</p>
                        <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s" tabindex="-1" style="animation-delay: 0.6s;">know more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>