<div class="jkl-menu">
    <div class="container">
        <nav id="jk-nav" class="navbar navbar-expand-lg  ">
            <div id= "menu-logo" class="jkl-header-logo">
                <a href="#"><img src="assets/images/logo.png" alt="Logo"></a></div>
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle     navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarNavDropdown" class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="navbar-nav text-center">
                    <li class="nav-item active">
                        <a class="nav-link" href="/wbr">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="student-life.html">Student Life</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Academics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Residental System</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Branches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Alumni</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
</div>