---
layout: general_page
---
<main>

    <main>
        <section class="grey-bg">
            <div class="container-fluid pt-50 pb-50">
                <div class="container">
                    <div class="row pt-60">
                        <div class="col-xl-6 col-lg-6 mb-20 md-margin" data-aos="fade-down">
                            <div class="jkl-home-card-img">
                                <img src="assets/images/home/home-card2.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 mb-40" data-aos="zoom-in-up">
                            <div class="section-title">
                                <h2>Branches</h2>
                            </div>
                            <div class="about-content">
                                <p>Nullam eget purus molestie, tempus massa quis, tempor urna. Nam nec nibh egestas,
                                    rhoncus
                                    erat sed, ullamcorper justo. Etiam in euismod elit. Integer blandit, massa a
                                    volutpat
                                    tempus, metus nisi lobortis nibh, at placerat ipsum nibh sed sem. Cras fermentum
                                    velit
                                    et quam fermentum sollicitudin.
                                    <br> <br>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                                    ligula
                                    eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                                    montes,
                                    nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                    quis,
                                    sem. Nulla consequat massa quis enim.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>


        <section class="bg-light">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="portfolio-menu  mt-25 mb-25 text-center map-menu" style="display:block;">
                                <button class="map-menu-item" style="font-size: 18px;text-transform: none;color:#ff5e14" data-filter="">All</button>
                                <button style="font-size: 18px;text-transform: none" class="p-item map-menu-item"
                                        data-filter="state1">State 1</button>
                                <button style="font-size: 18px;text-transform: none" class="p-item map-menu-item"
                                        data-filter="state2">State 2</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="map-canvas"></div>


        </section>
    </main>


</main>
