---
layout: general_page
---

<main style="overflow: visible">


    <!-- branch/contact -->
    <section class="grey-bg" style="overflow: hidden">
        <div class="container-fluid pt-50">
            <div class="container">
                <div class="row text-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="col mb-5" data-aos="zoom-in-up">
                            <div class="mb-20">
                                <h3>Contact 1</h3>
                            </div>
                            <div class="jkl-footer-text">
                                <p>13/4, Sum dolor sit amet,<br/>Consec tetur, Adipisicing,<br/>Incididuntut - 234556 <br/><span class="fa fa-envelope" aria-hidden="true"> </span> <a href="mailto:leron@example.com"> leron@example.com</a><br/>
                                    <span class="fa fa-phone fa-rotate-180"> </span><a href="tel:+919876543210"> +91-9876543210</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="col mb-5 " data-aos="zoom-in-up">
                            <div class="mb-20">

                                <h3>Contact 2</h3>
                            </div>
                            <div class="jkl-footer-text">
                                <p>13/4, Sum dolor sit amet,<br/>Consec tetur, Adipisicing,<br/>Incididuntut - 234556 <br/><span class="fa fa-envelope" aria-hidden="true"> </span> <a href="mailto:leron@example.com"> leron@example.com</a><br/>
                                    <span class="fa fa-phone fa-rotate-180"> </span><a href="tel:+919876543210"> +91-9876543210</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="col mb-5" data-aos="zoom-in-up">
                            <div class="mb-20">
                                <h3>Contact 3</h3>
                            </div>

                            <div class="jkl-footer-text">
                                <p>13/4, Sum dolor sit amet,<br/>Consec tetur, Adipisicing,<br/>Incididuntut - 234556 <br/><span class="fa fa-envelope" aria-hidden="true"> </span> <a href="mailto:leron@example.com"> leron@example.com</a><br/>
                                    <span class="fa fa-phone fa-rotate-180"> </span><a href="tel:+919876543210"> +91-9876543210</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="col mb-5" data-aos="zoom-in-up">
                            <div class="mb-20">

                                <h3>Contact 4</h3>
                            </div>
                            <div class="jkl-footer-text">
                                <p>13/4, Sum dolor sit amet,<br/>Consec tetur, Adipisicing,<br/>Incididuntut - 234556 <br/><span class="fa fa-envelope" aria-hidden="true"> </span> <a href="mailto:leron@example.com"> leron@example.com</a><br/>
                                    <span class="fa fa-phone fa-rotate-180"> </span><a href="tel:+919876543210"> +91-9876543210</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- popup -->
    <section>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Feedback
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content modal-xl">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <iframe
                                        src="https://docs.google.com/forms/d/e/1FAIpQLSdbrONDclCrMx0jCFl7Q31V3HzyaxpM_FO8RBhN5dZjgk4x8Q/viewform?embedded=true"
                                        width=100%; height="928" frameborder="0" marginheight="0"
                                        marginwidth="0">Loading...</iframe>
                            </div>

                        </div>
                    </div>

                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div> -->
                </div>
            </div>
        </div>
    </section>

    <!-- google form -->
    <section>
        <div class="container-fluid" style="position:relative;">
            <div class="jkl-contact-us-bg"></div>
            <div class="container pt-50">
                <div class="d-flex justify-content-center">
                    <iframe
                            src="https://docs.google.com/forms/d/e/1FAIpQLSdbrONDclCrMx0jCFl7Q31V3HzyaxpM_FO8RBhN5dZjgk4x8Q/viewform?embedded=true"
                            width=100%; height="928" frameborder="0" marginheight="0"
                            marginwidth="0">Loading...</iframe>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!-- width="640" height="928" -->


</main>