<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/icofont.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>

</head>
<body>
{% include navigation_bar.html %}
<section class="slider-area">
    <div class="slider-active slick-initialized slick-slider slick-dotted">



        <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 3036px;"><div class="single-slider slider-bg d-flex align-items-center slick-slide slick-current slick-active" style="background-image: url(&quot;/assets/img/slider/slider1.jpg&quot;); width: 1012px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;" tabindex="0" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00" data-slick-index="0" aria-hidden="false">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-delay=".2s" class="" style="animation-delay: 0.2s;">Meet with us to <br>success dream <span>business</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s" class="" style="animation-delay: 0.4s;">There are many variations of passages of Lorem Ipsum available but the majority have sufered <br>alteration
                                in some form by injected humour randomised</p>
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s" tabindex="0" style="animation-delay: 0.6s;">get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="single-slider slider-bg d-flex align-items-center slick-slide" style="background-image: url(&quot;/assets/img/slider/slider2.jpg&quot;); width: 1012px; position: relative; left: -1012px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;" tabindex="-1" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01" data-slick-index="1" aria-hidden="true">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s" class="" style="animation-delay: 0.2s;">Meet with us to <br>success dream <span>business</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s" class="" style="animation-delay: 0.4s;">There are many variations of passages of Lorem Ipsum available but the majority have sufered <br>alteration
                                in some form by injected humour randomised</p>
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s" tabindex="-1" style="animation-delay: 0.6s;">get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="single-slider slider-bg d-flex align-items-center slick-slide" style="background-image: url(&quot;/assets/img/slider/slider3.jpg&quot;); width: 1012px; position: relative; left: -2024px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;" tabindex="-1" role="tabpanel" id="slick-slide02" aria-describedby="slick-slide-control02" data-slick-index="2" aria-hidden="true">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s" class="" style="animation-delay: 0.2s;">Meet with us to <br>success dream <span>business</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s" class="" style="animation-delay: 0.4s;">There are many variations of passages of Lorem Ipsum available but the majority have sufered <br>alteration
                                in some form by injected humour randomised</p>
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s" tabindex="-1" style="animation-delay: 0.6s;">get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div></div></div><ul class="slick-dots" style="display: block;" role="tablist"><li class="slick-active" role="presentation"><button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 3" tabindex="0" aria-selected="true">1</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide01" aria-label="2 of 3" tabindex="-1">2</button></li><li class="" role="presentation"><button type="button" role="tab" id="slick-slide-control02" aria-controls="slick-slide02" aria-label="3 of 3" tabindex="-1">3</button></li></ul></div>
</section>
{{ content }}

<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/main.js"></script>
</body>


</html>